<app-search-bar (valueChanged)="dataFilter($event)"></app-search-bar>
<ng-container *ngIf="data">
  <ng-container *ngIf="(mapper ? (createAsyncData(data) | async ) : data) as tableData">
    <ng-container *ngIf="createIndexedData(tableData) as indexedData">
      <ng-container *ngIf="initDataSource(indexedData)">
        <table *ngIf="dataSource.data.length > 0" mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource">
          <ng-container *ngIf="getProperties(dataSource.data[0]) as properties">
            <ng-container *ngFor="let property of properties" [matColumnDef]="property">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{toUppercase(property)}} </th>
              <td mat-cell *matCellDef="let element">{{element[property]}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (mousedown)="buttonClick(element.tableIndex)">{{buttonLabel}}</button>
                <button mat-button *ngIf="showDelete" color="warn" (mousedown)="deleteClick(element.tableIndex)">{{deleteLabel}}</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="properties.concat(additionalColumns)"></tr>
            <tr mat-row *matRowDef="let row; columns: properties.concat(additionalColumns);"></tr>
          </ng-container>
        </table>
      </ng-container>
    </ng-container>

    <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </ng-container>
</ng-container>
