<mat-card *ngIf="sponsor$ | async as sponsor">
  <mat-card-title>{{sponsor.name}}</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <p>Name: {{sponsor.name}}</p>
        <p>Number of Tournaments: <ng-container *ngIf="tournamentCount$ | async as count; else zero">{{count}}</ng-container></p>
        <ng-template #zero>0</ng-template>
      </mat-tab>
      <mat-tab label="Prizes">
        <ng-container *ngIf="prizes$ | async as prizes">
          <ng-container *ngIf="prizes.length > 0; else noPrizes">
            <app-entity-table [data]="prizes" [mapper]="prizeMapper" buttonLabel="View Tournament" (deleteEntity)="deletePrize($event)" (selectEntity)="showTournament($event)"></app-entity-table>
          </ng-container>
          <ng-template #noPrizes>
            <i>No prizes found!</i>
          </ng-template>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
