<app-entity-editor [formGroup]="gameForm" (accept)="onSubmit()" [valid]="validate()">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date" [formControl]="dateForm">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="dateForm.hasError('matDatepickerParse')">
      Invalid date format
    </mat-error>
    <mat-error *ngIf="dateForm.hasError('required')">
      Date is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Result</mat-label>
    <mat-select [formControl]="resultForm">
      <mat-option *ngFor="let gameResult of gameResults" [value]="gameResult.value">
        {{gameResult.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="White Player" [formControl]="whitePlayerForm">
    <button matSuffix mat-icon-button (click)="pickWhitePlayer()">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Black Player" [formControl]="blackPlayerForm">
    <button matSuffix mat-icon-button (click)="pickBlackPlayer()">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tournament" [formControl]="tournamentForm">
    <button matSuffix mat-icon-button (click)="pickTournament()">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </mat-form-field>

</app-entity-editor>

