<mat-card *ngIf="referee$ | async as referee">
  <mat-card-title>{{referee.name}} {{referee.surname}}</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <p>Name: {{referee.name}}</p>
        <p>Surname: {{referee.surname}}</p>
      </mat-tab>
      <mat-tab label="Tournaments">
        <ng-container *ngIf="tournaments$ | async as tournaments">
          <ng-container *ngIf="tournaments.length > 0; else noTournaments">
            <app-entity-table [data]="tournaments"></app-entity-table>
          </ng-container>
          <ng-template #noTournaments>
            <p><i>No tournaments found</i></p>
          </ng-template>
          <button mat-raised-button color="primary">Join Tournament</button>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
