<app-entity-editor entityName="Tournament" [formGroup]="form" (accept)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="End Date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Entry Fee" formControlName="entryFee">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Location" formControlName="location">
  </mat-form-field>

  <p>
    Organizer:
    <ng-container *ngIf="organizerName; else noOrganizer">
      {{organizerName}}
    </ng-container>
    <ng-template #noOrganizer>
      <i>Please select</i>
    </ng-template>
    <button class=select-button mat-raised-button (click)="pickOrganizer()">Select</button>
  </p>
</app-entity-editor>
