<form [formGroup]="playerForm" class=form (submit)="onSubmit()">
  <mat-form-field class=form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class=form-field>
    <input matInput placeholder="Surname" formControlName="surname">
  </mat-form-field>
  <mat-form-field class=form-field>
    <input matInput placeholder="Elo" formControlName="elo">
  </mat-form-field>
  <mat-form-field class=form-field>
    <input matInput placeholder="Category" formControlName="category">
  </mat-form-field>
  <button mat-button type="submit">Accept</button>
</form>
